* {
  border: 3px solid black;
}

body {
  margin: 0;
  text-align: center;
  background: blanchedalmond;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  min-height: 0;
  flex-grow: 1;
}

.b {
  min-height: 0;
  flex-grow: 2;
}

.c {
  min-height: 0;
  flex-grow: 1;
}

@media (max-height: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    min-width: 100%;
  }
  .b {
    width: 79%;
  }

  .c {
    width: 19%;
  }
}
