* {
  border: 3px solid black;
}

body {
  margin: 0;
  text-align: center;
  background: blanchedalmond;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  min-height: 0;
  min-width: 100%;
  flex-grow: 1;
}

.b {
  min-height: 0;
  flex-grow: 2;
}

.c {
  min-height: 0;
  flex-grow: 1;
}

.d {
  min-height: 0;
  flex-grow: 1;
}

.e {
  min-height: 0;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10%;
  flex-grow: 1;
}

.f {
  min-height: 0;
  flex-grow: 1;
}

@media (max-height: 600px) {
  .container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .a {
    min-height: 0;
    min-width: 100%;
    flex-grow: 1;
  }

  .b {
    min-height: 0;
    min-width: 75%%;
    flex-grow: 2;
  }

  .c {
    min-height: 0;
    flex-grow: 1;
  }

  .d {
    min-height: 0;
    flex-grow: 1;
  }

  .e {
    min-height: 0;
    flex-grow: 1;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 10%;
    flex-grow: 1;
  }

  .f {
    min-height: 0;
    flex-grow: 1;
  }